extends layout.pug

block content

  article.portfolio-intro

    
    h1 Welcome to my Developer Portfolio 

    
    p This is my portfolio. This website contains my projects I have created using Javascript, HTML, CSS, Express and Pug. Included are links to my Github so you can examine my code and live links to view. Please enjoy and feel free to connect on linkedin.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //-  Pug `each` iterator to loop over the projects data file  

      each project in projects 

      
        //- Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5=project.project_name

